#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export PYBUILD_NAME=ipyparallel
export PYBUILD_TEST_ARGS=-W ignore::RuntimeWarning -W ignore::DeprecationWarning
export PYBUILD_AFTER_INSTALL=mkdir -p {destdir}/etc && mv {destdir}/usr/etc/jupyter {destdir}/etc/jupyter && rm {destdir}/usr/etc -rf && rm {destdir}/usr/etc/jupyter/jupyter -rf

%:
ifeq (,$(filter nodoc,${DEB_BUILD_OPTIONS} ${DEB_BUILD_PROFILES}))
	dh $@ --buildsystem=pybuild --with sphinxdoc
else
	dh $@ --buildsystem=pybuild
endif

override_dh_auto_build:
	IPP_DISABLE_JS=1 dh_auto_build
ifeq (,$(filter nodoc,${DEB_BUILD_OPTIONS} ${DEB_BUILD_PROFILES}))
	PYTHONPATH=$(CURDIR) http_proxy='127.0.0.1:9' sphinx-build -N -bhtml docs/source build/html
endif
